:root {
    font-size: calc(0.75rem + 0.4vw);
    --primary-color: #000;
    --secondary-color: #FAFAFF;
    --third-color: #5DA9E9;
    --fourth-color: #A31621;
    --text-tertiary: rgba(128, 128, 128, 0.25); 
    --aside-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.9);
    --fast-transition: 0.3s;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    /* grid-template: auto 4fr / .75fr 4fr; */
    grid-template: auto 2fr 2fr / .75fr 4fr;
}

.sidebar {
    grid-row: 1 / -1;
    position: sticky;
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 2.5rem;
    color: var(--secondary-color);
    padding: 1rem;
}

.sidebar .top-right-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
}

.sidebar .top-right-logo img {
    width: auto;
    max-height: 100%;
    object-fit: contain;
    height: auto;
}

.sidebar .top-right-logo h3 {
    margin: 0px;
    font-size: 1.75rem;
    cursor: pointer;
}

li {
    list-style-type: none;
}

div li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

div li p, div li img {
    transition: color var(--fast-transition) ease-in-out;
}

div li svg path {
    transition: stroke var(--fast-transition) ease-in-out;
}

div li p, svg path {
    transition: background-color var(--fast-transition) ease-in-out, color var(--fast-transition) ease-in-out;
}

div li p:hover {
    color: var(--third-color); /* Text color for hover */
}

div li img {
    width: auto;
    max-height: 2rem;
    object-fit: contain;
    height: auto;
    transition: opacity 0.3s ease;
}

li:hover p {
    color: var(--third-color); /* Text color for hover */
}

li:hover svg path {
    stroke: var(--third-color);
}

svg {
    width: auto;
    max-height: 2rem;
    object-fit: contain;
    height: auto;
    transition: opacity 0.3s ease; 
}

.upper-left, .lower-left {
    display: grid;
}

.sidebar .lower-left {
    align-content: start;
}

div li:hover p {
    color: var(--third-color);
}

div li:hover img {
    opacity: 0.6; /* Example hover effect for images */
}

div li:hover svg path {
    stroke: var(--third-color); /* SVG stroke color for hover */
}

.header {
    grid-area: 1/2 / 2/-1;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.top-right, .top-left {
    padding: 8px; /* Adjust padding as needed */
    border-radius: 8px; /* This rounds the corners of the border */
    display: flex; /* This ensures the content inside is centered */
    justify-content: center; /* This centers the child elements horizontally */
    align-items: center; /* This centers the child elements vertically */
    max-width: fit-content; /* This ensures the box fits the content width */
}

.top-right {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* This adds a subtle shadow for depth */
    border: 1px solid #ccc; /* Adjust color and thickness as needed */
    background: #ffffff; /* Adjust background color as needed */
}

.top-right:hover, .top-left:hover {
    background-color: var(--text-tertiary);
}

.top-left span {
    color: var(--third-color);
}

.main-content {
    grid-row: 1 / -1;
    position: sticky;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-content: start;
    gap: 2.5rem;
    padding: 1rem;
    /* display: grid;
    grid-template-rows: auto 1fr 6fr; */
}

.project-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: grid;
    grid-template: auto auto auto / 1fr 1fr;
    gap: 1rem;
    padding: 0em 1.5em;
    justify-content: center;
    overflow: visible; /* Allow children to overflow outside of this container */
}

.project {
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    min-height: 200px;
    max-height: 20vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: .9rem;
    align-items: center;
    grid-column: span 1;
    box-shadow: inset 0.5em 0 0 var(--primary-color), 0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    border: 0.1px solid var(--primary-color);
    border-radius: 1em;
    margin-bottom: 1rem; /* Add bottom margin to prevent clipping of the box shadow */
}

.project:hover {
    transform: scale(1.05);
    transform-origin: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Make sure this is higher than the z-index of other elements it should overlap */
}

.action-block {
    position: relative
}

.action-block svg {
    position: absolute;
    bottom: 0;
    right: 0;
}

#eyeIcon .iris {
    fill: none;
    transition: fill 0.3s ease;
}

#eyeIcon:hover .iris {
    fill: var(--third-color);
}

.title-block, .text-block, .action-block {
    margin: 15px;
}

.search-bar {
    align-self: end;
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar form {
    display: flex;
    width: 50%;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 20px; /* Rounded corners */
    padding: 5px 10px;
}

.search-bar p {
    font-size: 0.75rem;
}

.search-input {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    width: 100%; /* Use available space */
    height: 40px; /* Match your desired height */
    font-size: 16px; /* Match your desired font size */
}

.search-input::placeholder {
    color: #a0a0a0; /* Placeholder text color */
}

.search-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.search-input:focus,
.search-btn:focus {
    outline: none;
}

.search-btn:hover svg {
    fill: var(--third-color); /* Change the color of the SVG icon */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    .search-bar p {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .project {
        font-size: .75rem;
    }

}