:root {
    font-size: calc(0.75rem + 0.4vw);
    --primary-color: #000;
    --secondary-color: #FAFAFF;
    --third-color: #5DA9E9;
    --aside-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.9);
    --fast-transition: 0.3s;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template: auto 4fr / 1fr 4fr;
}

.sidebar {
    grid-row: 1 / -1;
    position: sticky;
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 2.5rem;
    color: var(--secondary-color);
    padding: 1rem;
}

.sidebar .top-right-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
}

.sidebar .top-right-logo img {
    width: auto;
    max-height: 100%;
    object-fit: contain;
    height: auto;
}

.sidebar .top-right-logo h3 {
    margin: 0px;
    font-size: 2rem;
    cursor: pointer;
}

li {
    list-style-type: none;
}

div li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

div li p, div li img {
    transition: color var(--fast-transition) ease-in-out;
}

div li svg path {
    transition: stroke var(--fast-transition) ease-in-out;
}

div li p, svg path {
    transition: background-color var(--fast-transition) ease-in-out, color var(--fast-transition) ease-in-out;
}

div li p:hover {
    color: var(--third-color); /* Text color for hover */
}

div li img {
    width: auto;
    max-height: 2rem;
    object-fit: contain;
    height: auto;
    transition: opacity 0.3s ease;
}

li:hover p {
    color: var(--third-color); /* Text color for hover */
}

li:hover svg path {
    stroke: var(--third-color);
}

svg {
    width: auto;
    max-height: 2rem;
    object-fit: contain;
    height: auto;
    transition: opacity 0.3s ease; 
}

.upper-left, .lower-left {
    display: grid;
}

.sidebar .lower-left {
    align-content: start;
}

.header {
    background-color: var(--secondary-color);
    grid-area: 1/2 / 2/-1;
}

div li:hover p {
    color: var(--third-color);
}

div li:hover img {
    opacity: 0.6; /* Example hover effect for images */
}

div li:hover svg path {
    stroke: var(--third-color); /* SVG stroke color for hover */
}
